<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- mapper namespace는 비우면 에러 -->
<mapper namespace="com.devkgm.app.regions.RegionDAO">

	<delete id="delete" parameterType="RegionDTO">
		DELETE FROM REGIONS WHERE REGION_ID = #{region_id} 
	</delete>

	<update id="update" parameterType="RegionDTO">
		UPDATE REGIONS SET REGION_NAME=#{region_name} WHERE REGION_ID = #{region_id}
	</update>
	<insert id="add" parameterType="RegionDTO">
		INSERT INTO REGIONS VALUES(REGIONS_SEQ.NEXTVAL,#{region_name})
	</insert>
	<select id="getDetail" resultType="RegionDTO" parameterType="RegionDTO">
		SELECT * FROM REGIONS WHERE REGION_ID=#{region_id}
	</select>
	<select id="getList" resultType="RegionDTO" >
		SELECT * FROM REGIONS ORDER BY REGION_ID ASC
	</select>
</mapper>